<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <welcome-file-list>
  	<welcome-file>earthquakesList</welcome-file>
  </welcome-file-list>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ExplanationServlet</servlet-name>
  	<servlet-class>com.dominikazb.earthquakes.servlets.ExplanationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadLongitudeAndLatitudeServlet</servlet-name>
  	<servlet-class>com.dominikazb.earthquakes.servlets.ReadLongitudeAndLatitudeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintEarthquakesListServlet</servlet-name>
  	<servlet-class>com.dominikazb.earthquakes.servlets.PrintEarthquakesListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadJSonDataServlet</servlet-name>
  	<servlet-class>com.dominikazb.earthquakes.servlets.LoadJSonDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExplanationServlet</servlet-name>
  	<url-pattern>/ExplanationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadLongitudeAndLatitudeServlet</servlet-name>
  	<url-pattern>/ReadLongitudeAndLatitudeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintEarthquakesListServlet</servlet-name>
  	<url-pattern>/PrintEarthquakesListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadJSonDataServlet</servlet-name>
  	<url-pattern>/earthquakesList</url-pattern>
  </servlet-mapping>
  
</web-app>
